.rdw-editor-main:empty::before {
    content: 'Write about your company, mission, and team here...|';
    color: #999;
    pointer-events: none;
    display: inline-block;
    white-space: pre;
    animation: blinkCursor 1s steps(1) infinite;
  }

  @keyframes blinkCursor {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }





  .table-wrapper {
    padding: 24px;
    background: #f9f9f9;
  }
  
  .table-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  
  .row-light {
    background-color: #ffffff;
  }
  
  .row-dark {
    background-color: #f6f6f6;
  }
  
  .dragging {
    opacity: 0.4 !important;
  }
  


  .table-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    font-size: 14px;
    background: #fafafa;
    border-top: 1px solid #f0f0f0;
    margin-top: 8px;
  }
  
  .table-footer-left {
    color: #555;
  }
  
  .table-footer-right {
    display: flex;
    align-items: center;
  }
/* EmployeeTable.css */

.employee-container {
  padding: 24px;
  background: #f5f5f5;
  min-height: 100vh;
}

.employee-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.employee-search-input {
  width: 260px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

/* Custom Button Styling */
.custom-orange-button {
  background-color:#FA003F;
  border-color:#FA003F;
  color: #ffffff;
  border-radius: 4px;
  height: 36px;
  padding: 0 16px;
}

.custom-orange-button:hover {
  background-color: #FA003F !important;
  border-color: #FA003F !important;
  color: #fff !important;
}

/* Action buttons in table */
.ant-table-cell .ant-btn {
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 50%;
}

.ant-table-cell .ant-btn:hover {
  background: rgba(247, 95, 12, 0.1);
  color: #FA003F;
}

/* Modal Customization */
.ant-modal-content {
  border-radius: 8px;
}

.ant-modal-header {
  background: #fff7f0;
  border-bottom: none;
}

.ant-modal-title {
  color: #FA003F;
  font-weight: 600;
}

.ant-modal-footer .ant-btn-primary {
  background-color: #FA003F;
  border-color: #FA003F;
  color: #fff;
}

.ant-modal-footer .ant-btn-primary:hover {
  background-color: #FA003F;
}

/* Space between buttons */
.employee-header .ant-space > .ant-btn,
.employee-header .ant-space > .ant-upload .ant-btn {
  margin-right: 8px;
}

.css-p3jixh-MuiButtonBase-root-MuiListItemButton-root.Mui-selected svg{
  color: #f5f5f5;
}
